
.card {
  width: 190px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

#loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: red;
  background-color: #0B5ED7;
  height: 100%;
  opacity: 0.6;
  display: none;
}

#loader.active {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
